* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #2b1f46;
    font-size: 2rem;
    
}

label{
    color: rgb(0, 0, 0) bold;
    font-size: 1.2rem;
}

.pretragaNakita {
    background-image: url('../nakit/slike/pozadina7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.ram {
    width: 100%;
    margin: 0 auto;
    padding: 1%;
}


.img-odziv {
    width: 100%;
}

.img-tren {
    border-radius: 15px;
}

.nestoDesno {
    text-align: right;
}

.nestoCentar {
    text-align: center;
}

.txtlevo {
    text-align: left;
}

.txtw {
    color: white;
}

.wtxt {
    color: white;
}

.pozadina {
    clear: both;
    float: none;
}

a {
    color: #bf9000;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    color: #5565fc;
}

.btn {
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
    transition-duration: 0.4s;
}


.btn:hover{
    background-color: rgb(216, 111, 216);
}



h2 {
    color: #2b1f46;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3 {
    font-size: 1.5rem;
    color: #2b1f46;
}

.plut {
    position: relative;
}

.ftxt {
    position: absolute;
    bottom: 50px;
    left: 40%;
}

fieldset {
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

/* CSSS za meni */

.kompanija {
    width: 10%;
    float: left;
}

.meniNakit {
    line-height: 110px;
    background-color: white;
    
}

.meniNakit ul {
    list-style-type: none;
}

.meniNakit ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
}

.kategorije {
    padding: 4% 0;
}

.b3 {
    width: 28%;
    float: left;
    margin: 2%;
}


.artikli {
    background-color: #ececec;
    padding: 4% 0;
}

.artikli-box {
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.artikli-slike {
    width: 20%;
    float: left;
}

.artikli-desc {
    width: 70%;
    float: left;
    margin-left: 8%;
}

p {
    text-align: center;
    justify-content: center;
}

.thumbnail_div {
    margin:0 auto;
    text-align: center;
    background-color:#48bace;
    
}

.veliki {
    
    margin:0 auto;
    padding:0px;
    text-align:center;
    
    
}




